#bayesianwitch.bw-admin-config{
  max-width: 700px;
}

#bayesianwitch h4{
  float: left;
  width: 10%;
  margin: 3px 0 0 0;
}

#bayesianwitch h4.bandit-body{
  margin-top: 30px;
}

#bayesianwitch .wp-editor-wrap{
  float: right;
  width: 89%;
  margin-bottom: 20px;
}

#bayesianwitch .input.error{
  border-color: #CC0000;
}

#bayesianwitch .input{
  float: right;
  width: 89%;
  margin-bottom: 20px;
}

 #bayesianwitch .bw-button{
  float: right;
  width: 70px;
}

#bayesianwitch span.input{
  margin:3px 0 20px 0;
}

.bw-error-box{
  background-color: rgb(255, 235, 232);
  border-color: rgb(204, 0, 0);
  padding: 10px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  margin: 20px 0;
}

.bw-admin-title {
  background-color: #FFFFFF;
  font-size: 1.7em;
  height: 1.7em;
  line-height: 100%;
  margin: 1px 0;
  outline: 0 none;
  padding: 3px 8px;
  width: 89%;
}

.bw-admin-title-delete.button{
  width: 9%;
  height: 34px;
  margin-top: 1px;
  float: right;
}

.bw-admin-title-add.button{
  float: right;
  height: 34px;
  margin-top: 10px;
}
